/* You can add global styles to this file, and also import other style files */
.full-height {
    min-height: 100vh;
    height: auto;
  }

.nunito {
  font-family: 'Nunito', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.timer {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.bg-main {
  background-color: #D43E6B;
}

.btn-c-primary {
  background-color: #35CE8D;
  color: #fff;
}

.btn-c-primary:hover {
  background-color: #1e7b54;
  color: #fff;
}

.btn-c-danger {
  background-color: #874f78;
  color: #fff;
}

.btn-c-danger:hover {
  background-color: #503048;
  color: #fff;
}

.rounded-bottom-0-c {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}